<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<appSettings>
		<!--<add key="SqlStr" value="Data Source = 16j7u47087.iok.la;Initial Catalog = master;User Id = sa;Password = 50110990;"/>-->
		<add key="SqlStr" value="Data Source = 192.168.5.188;Initial Catalog = TestDB;User Id = sa;Password = 123456;"/>
	</appSettings>
</configuration>
